<!doctype html>
<html lang="en">

<head>
    <title>AdultingOverflow</title>
    <link rel="stylesheet" href="/templates/forumstyle.css">
    <link rel="stylesheet" href="forumstyles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">


    
<body>
    <!---Navbar-->
    <!--AdultingOverflow Button. Is the home button-->
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Wrapper collapsible -->
            <div class="collapse navbar-collapse" id="navbarContent">
                <a class="navbar-brand mt-2 mt-lg-0" href="#">
                </a>
                <!-- Left Nav Links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="forummain.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="qforum.html">Start Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="aboutUs.html">About Us</a>
                    </li>
                </ul>
                <!-- End of Left Links -->
            </div>
            
    </nav>
    </div>

    <div class="container my-3">
        <!-- <nav class="searchbar ">
            <input type="search" id="site-search" name="q" placeholder="Search"
                aria-label="Search through site content">
            <button>Search</button>
        </nav> -->
        <!---Category -->
        <div class="row">
            <div class="col-12 col-xl-9">

                <h2>Welcome to the Wonderful World of Adulting! This open forum here to support your adulting needs.</h2>
                <br>
                <hr>
                <h5>Need some adulting help? Go to the Start Forum Tab or Submit your question here.</h5>
                <a href="qforum.html" class="btn btn-primary">Submit Question</a>
                <div></div>
                <br>
                <hr>
                
                <h5>Think you've got the answer? Click on the question to submit your answer.</h5>          
                <table class="table table-striped table-bordered table-responsive">
                    <thead class="thead-light">
                        <tr>
                            <td>
                            <div id="questions" class = "questionsdiv">                     
                            </div>
                        </td> 
                        </tr>
                    </thead>
                    <!--Map-->  
                </table>
            </div>
            <!--Aside Section-->
            <div class="col-12  col-xl-3">
                <aside>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="h4 card-title">Resources</h2>
                                    <dl class="row mb-0">
                                        <li><a href="https://theadultingacademy.com/">Course:The Adulting Academy</a></li>
                                        <li><a href="https://www.wnycstudios.org/podcasts/adulting">Podcast:Adulting</a></li>
                                        <li><a href="https://www.amazon.com/Adulting-101-What-They-Teach/dp/1717315704/ref=asc_df_1717315704/?tag=hyprod-20&linkCode=df0&hvadid=312446862670&hvpos=&hvnetw=g&hvrand=9327529304926517831&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9010802&hvtargid=pla-761325104872&psc=1">Book:What They Don't Teach You</a></li>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <!--end of Aside Section-->
    <!--Footer-->
    <footer class="bg-dark text-center text-white">
        <div class="container p-2 pb-0">
            <div class="row d-flex justify-content-center">
                <div class="col-auto">
                    <p class="pt-2">
                        <img src="https://www.bing.com/images/blob?bcid=TsYX.7Q0iUsDAVgE1K6CRlTBIlFN.....18" height="60"
                            alt="" loading="lazy" color="white" id="fi" />
                    </p>
                </div>
                <div class="col-auto">
                    <!-- Contact Us Button TODO!!!!!-->
                    <a id="btn_c" href="aboutUs.html" class="btn btn-outline-light mb-4">
                        Contact Us
                    </a>
                </div>
            </div>
            </section>
        </div>

        <div class="text-center p-3" id="footer" style="background-color: rgba(0, 0, 0, 0.2);">
            2021 AdultingOverflow
        </div>

    </footer>
    <!---End of Footer-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="/dropdown.js"></script> -->
    <script>
        const questionsdiv = document.getElementById("questions");
        document.addEventListener("DOMContentLoaded", () => {
        fetch('http://127.0.0.1:3000/forumQuestions')
        .then(response => response.json())
        .then(questionsdata => {
            console.log("questionsdata",questionsdata);
            const questionul = document.createElement("ul");
            questionul.setAttribute("id","questionul");
            questionsdiv.appendChild(document.createElement("table"))  
            questionsdiv.appendChild(questionul);
                questionsdata.map(question => {
                console.log("question",question);
                // const questionli = document.createElement("a");
                // questionli.href = question.question;
                const a = document.createElement('a');
                a.id = "hyperlink";
                a.onclick="bookmark(this);";
                a.value="";
                const linkText = document.createTextNode(question.question);
                a.appendChild(linkText);
                a.href = "aforum.html";
                questionul.appendChild(a);   
                questionul.appendChild(document.createElement("br"));
         
                                     
});
});
});
</script>
</body>
</html>
