<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goodbye</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<style>
body{
    background-color: rgba(7, 7, 248, 0.801);
    text-align: center;
}
h1{
    margin-top:20%;
    color:white;
    text-align: center;   
}
h2{
    color:grey
}
</style>
<body>    
    <h1>GO FORTH AND ADULT ${oneUser.firstName}!</h1>
    <h2>Come back anytime for adulting help or to share your experiences!</h2>    
    <div></div>
</body>
</html>